<form #formAjouter="ngForm" id="formAjouter" class="formLayout">
    <div class="row">
        <!--Destination-->
        <mat-form-field class="input-full-width" appearance="fill">

            <mat-label class="titreLayout">Destination</mat-label>
            <input type="text" name="destination" class='inputLayout' required minlength="2" maxlength="150"
                #destination="ngModel" [(ngModel)]="newForfait.destination" matInput placeholder="Nouvelle destination">

            <button matSuffix type="submit" mat-icon-button color="primary" [disabled]="!formAjouter.form.valid"><i
                    class="material-icons">add</i></button>
            <mat-error
                *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('required')">
                La destination est obligatoire.
            </mat-error>
            <mat-error
                *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('minlength')">
                La destination doit contenir au moins 2 caractères.
            </mat-error>
            <mat-error
                *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('maxlength')">
                La destination doit contenir au maximum 50 caractères.
            </mat-error>
        </mat-form-field>


        <div mat-dialog-actions>

            <button mat-raised-button color="primary" (click)="onAnnulerClick()" class="m-1">Annuler</button>
            <button mat-raised-button color="primary" [mat-dialog-close]="newForfait" class="m-1">Ok</button>

        </div>

    </div>
</form>