<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button matSuffix type="submit" mat-icon-button color="primary" (click)="openDialogNewVoyage()"><i
                    class="material-icons">add</i></button>
        </div>
        <div class="col-12">
            <mat-tab-group class="formLayout" style='margin: 20px; ' mat-stretch-tabs>
                <mat-tab label="Gestion des forfaits">
                    <a style="margin: 20px;" mat-raised-button routerLink="newForfait" color='primary'><i
                            class="material-icons">add</i> Ajouter un nouveau forfait</a>
                    <table id="#tableLayout" mat-table #tableForfait [dataSource]="tableauVoyages">
                        <ng-container matColumnDef="destination">
                            <th mat-header-cell *matHeaderCellDef> Destination </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.destination}} </td>
                        </ng-container>

                        <ng-container matColumnDef="villeDepart">
                            <th mat-header-cell *matHeaderCellDef> Ville de départ </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.villeDepart}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nomHotel">
                            <th mat-header-cell *matHeaderCellDef> Nom de l’hôtel </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.hotel.nom}} </td>
                        </ng-container>

                        <ng-container matColumnDef="prix">
                            <th mat-header-cell *matHeaderCellDef> Prix </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.prix-forfait.rabais}}$ </td>
                        </ng-container>

                        <ng-container matColumnDef="dateDepart">
                            <th mat-header-cell *matHeaderCellDef> Date de départ </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.dateDepart | date: 'yyyy-MM-dd'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dateRetour">
                            <th mat-header-cell *matHeaderCellDef> Date d’arrivée </th>
                            <td mat-cell *matCellDef="let forfait"> {{forfait.dateRetour | date: 'yyyy-MM-dd'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>

                            <td mat-cell *matCellDef="let forfait" class="boutonsAction">
                                <div style="display: flex;">
                                    <form (ngSubmit)="onEdit(forfait)">
                                        <button matTooltip="Éditer le forfait" matTooltipClass="tooltip-red"
                                            matTooltipPosition="left" mat-button
                                            [routerLink]="['editForfait/', forfait._id]">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </form>
                                    <form (ngSubmit)="onDelete(forfait)">
                                        <button mat-button matTooltipPosition="right" matTooltipClass="tooltip-red"
                                            matTooltip="Supprimer le forfait"><i
                                                class="material-icons">delete</i></button>
                                    </form>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                    </table>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>