.formLayout {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    padding: 20ppx;
    margin: 20px;
    border: 1px solid black;
    font-size: 16px;
}

.inputLayout {
    padding:20px;
    margin:20px; 
    border: 1px solid black;
}
.example-full-width {
    width: 100%;
  }

mat-label {
    color: black !important;
}
mat-form-field {
      color: black !important;
}

.example-section {
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }

mat-checkbox {
    margin: 5px;
}
  
.titreLayout {
    margin: 12px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}