ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #bcfefe;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: #0c5776;
}

.active {
  background-color: #ff1493;
}
