<div class="bg">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center m-5">Toujours en rabais !!!</h3>
            </div>
            <div class="col-6">

                <mat-card>
                    <div class="i">
                        <img mat-card-image src="../../assets/img/riviera-maya.jpg" alt="Riviera Maya">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Mexique</mat-card-title>
                        <mat-card-subtitle>Toujours en rabais!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Nisi, assumenda! Animi excepturi sunt laboriosam sed corporis voluptatum necessitatibus
                            neque
                            nulla dicta quo voluptate, cum est recusandae, vero id illum error nobis beatae delectus.
                            Fugit doloribus
                            asperiores, laudantium facilis libero laborum recusandae quo illum facere aperiam vitae ad
                            dolorem inventore,
                            exercitationem maiores quasi? Quidem minima eaque dolorem maxime dolorum inventore ipsa
                            numquam deleniti eveniet
                            blanditiis nisi ducimus totam nihil obcaecati sit nam, quisquam autem voluptatem odio
                            quaerat error illo suscipit
                            praesentium.</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-6">
                <mat-card>
                    <div class="">
                        <img mat-card-image src="../../assets/img/punta-cana.jpg" alt="Punta Cana">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Jamaïque</mat-card-title>
                        <mat-card-subtitle>Toujours en rabais!</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Nisi, assumenda! Animi excepturi sunt laboriosam sed corporis voluptatum necessitatibus
                            neque
                            nulla dicta quo voluptate, cum est recusandae, vero id illum error nobis beatae delectus.
                            Fugit doloribus
                            asperiores, laudantium facilis libero laborum recusandae quo illum facere aperiam vitae ad
                            dolorem inventore,
                            exercitationem maiores quasi? Quidem minima eaque dolorem maxime dolorum inventore ipsa
                            numquam deleniti eveniet
                            blanditiis nisi ducimus totam nihil obcaecati sit nam, quisquam autem voluptatem odio
                            quaerat error illo suscipit
                            praesentium.</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>



    </div>
</div>